In [3]:
import pandas as pd

## Задание 1

In [50]:
log = pd.read_csv('visit_log.csv', sep=';')

In [51]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [61]:
def source_type(row):
    source = row['traffic_source']
    region = row['region']
    if source == 'yandex' or source == 'google':
        return 'organic'
    if source == 'paid' or source == 'email':
        if region == 'Russia':
            return 'ad'
        return 'other'
    return source

In [62]:
log['source_type'] = log.apply(source_type, axis=1)

In [63]:
log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad

## Задание 2

In [16]:
urls = pd.read_csv('URLs.txt')

In [27]:
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [28]:
url_news = urls[ urls.url.str.contains('/\d{8}-', regex='True') ]

In [29]:
url_news.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## Задание 3

In [4]:
ratings = pd.read_csv('ratings.csv')

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [54]:
visits = ratings.groupby('userId').count()[['movieId']]
visits.rename(columns={'movieId': 'visits'}, inplace=True)
visits = visits [ visits['visits'] > 100 ]
visits.reset_index(inplace=True)
visits.head()

   userId  visits
0       4     204
1       8     116
2      15    1700
3      17     363
4      19     423

In [57]:
ratings_with_visits = ratings.merge(visits)

In [59]:
ratings_with_visits.tail(20)

       userId  movieId  rating   timestamp  visits
80467     671     5010     2.0  1066793004     115
80468     671     5218     2.0  1065111990     115
80469     671     5299     3.0  1065112004     115
80470     671     5349     4.0  1065111863     115
80471     671     5377     4.0  1064245557     115
80472     671     5445     4.5  1064891627     115
80473     671     5464     3.0  1064891549     115
80474     671     5669     4.0  1063502711     115
80475     671     5816     4.0  1065111963     115
80476     671     5902     3.5  1064245507     115
80477     671     5952     5.0  1063502716     115
80478     671     5989     4.0  1064890625     115
80479     671     5991     4.5  1064245387     115
80480     671     5995     4.0  1066793014     115
80481     671     6212     2.5  1065149436     115
80482     671     6268     2.5  1065579370     115
80483     671     6269     4.0  1065149201     115
80484     671     6365     4.0  1070940363     115
80485     671     6385     2.5  1070979663     115
80486     671     6565     3.5  1074784724     115

In [62]:
def groupby_func(df):
    return df.timestamp.max() - df.timestamp.min()

time = ratings_with_visits.groupby('userId').apply(groupby_func)
time.head(10)

userId
4        203560
8         85187
15    471393496
17         8053
19         5282
21      1365432
22        91491
23     18342129
26     20267261
30    115852276
dtype: int64

## Задание 4

In [66]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [67]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [68]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [69]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [94]:
general = rzd.merge(auto, how='outer').merge(air, how='outer').fillna(0)

In [95]:
general

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [96]:
general_with_address = general.merge(client_base)

In [97]:
general_with_address

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4