In [20]:
import pandas as pd

## Задание 1

In [21]:
data = pd.read_csv('ratings.csv')
data_movies = pd.read_csv('movies.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
how_many_5 = data[ data.rating == 5.0 ]['movieId'].value_counts()
how_many_5.head()

318     153
296     123
356     116
2571    109
260     104
Name: movieId, dtype: int64

In [28]:
the_best_movie = data_movies[ data_movies.movieId == 318]['title']
print(f'Фильм, получивший наибольшее количество оценок 5, - {list(the_best_movie)[0]}')

Фильм, получивший наибольшее количество оценок 5, - Shawshank Redemption, The (1994)

Не смогла разобраться, как обратиться к первому movieId в how_many_5 :(

## Задание 2

In [25]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [26]:
data = data[ (data.country == 'Latvia') | (data.country == 'Litva') | (data.country == 'Estonia')]
data = data[ (data.year <= 2010) & (data.year >= 2005)]
data = data[ (data.category == 4) | (data.category == 21) | (data.category == 12) ]
s = 0
for quantity in data.quantity:
    if quantity > 0:
        s += quantity
print(s)

118284.0

## Задание 3

In [27]:
data = pd.read_html('https://fortrader.org/quotes')
data[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  89.27      -0.66         -0.73        NaN
1       USDRUB Курс рубля к доллару  74.21      -0.17         -0.23        NaN