In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('horse_data.csv')
columns_for_analyse = list(map(lambda x: x, range(11)))
columns_for_analyse.append(15)
columns_for_analyse
df = df.iloc[:, columns_for_analyse]

In [22]:
df.head()

   2  1   530101  38.50   66  28  3 3.1  ? 2.1  5   ?.3
0  1  1   534817   39.2   88  20  ?   ?  4   1  3     ?
1  2  1   530334  38.30   40  24  1   1  3   1  3     ?
2  1  9  5290409  39.10  164  84  4   1  6   2  2  5.00
3  2  1   530255  37.30  104  35  ?   ?  6   2  ?     ?
4  2  1   528355      ?    ?   ?  2   1  3   1  2     ?

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       299 non-null    object
 1   1       299 non-null    int64
 2   530101  299 non-null    int64
 3   38.50   299 non-null    object
 4   66      299 non-null    object
 5   28      299 non-null    object
 6   3       299 non-null    object
 7   3.1     299 non-null    object
 8   ?       299 non-null    object
 9   2.1     299 non-null    object
 10  5       299 non-null    object
 11  ?.3     299 non-null    object
dtypes: int64(2), object(10)
memory usage: 28.2+ KB

In [24]:
the_first_row_list = list(df.columns)
the_first_row = {
    "surgery": the_first_row_list[0],
    "Age": the_first_row_list[1],
    "Hospital Number": the_first_row_list[2],
    "rectal temperature": the_first_row_list[3],
    "pulse": the_first_row_list[4],
    "respiratory rate": the_first_row_list[5],
    "temperature of extremities": the_first_row_list[6],
    "peripheral pulse": the_first_row_list[7],
    "mucous membranes": the_first_row_list[8],
    "capillary refill time": the_first_row_list[9],
    "pain": the_first_row_list[10],
    "nasogastric reflux PH": the_first_row_list[11]
    }

In [25]:
df = df.rename(columns={ 
    df.columns[0]: "surgery",
    df.columns[1]: "Age",
    df.columns[2]: "Hospital Number",
    df.columns[3]: "rectal temperature",
    df.columns[4]: "pulse",
    df.columns[5]: "respiratory rate",
    df.columns[6]: "temperature of extremities",
    df.columns[7]: "peripheral pulse",
    df.columns[8]: "mucous membranes",
    df.columns[9]: "capillary refill time",
    df.columns[10]: "pain",
    df.columns[11]: "nasogastric reflux PH"
     })
df = pd.concat([df, pd.DataFrame([the_first_row])])
df.head()

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,nasogastric reflux PH
0,1,1,534817,39.2,88,20,?,?,4,1,3,?
1,2,1,530334,38.30,40,24,1,1,3,1,3,?
2,1,9,5290409,39.10,164,84,4,1,6,2,2,5.00
3,2,1,530255,37.30,104,35,?,?,6,2,?,?
4,2,1,528355,?,?,?,2,1,3,1,2,?

In [26]:
df = df.replace(r'\?\.+', np.nan, regex=True)
df = df.replace('?', np.nan)
df = df.astype('float')

In [27]:
df.head()

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,nasogastric reflux PH
0,1.0,1.0,534817.0,39.2,88.0,20.0,NaN,NaN,4.0,1.0,3.0,NaN
1,2.0,1.0,530334.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,NaN
2,1.0,9.0,5290409.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,5.0
3,2.0,1.0,530255.0,37.3,104.0,35.0,NaN,NaN,6.0,2.0,NaN,NaN
4,2.0,1.0,528355.0,NaN,NaN,NaN,2.0,1.0,3.0,1.0,2.0,NaN

### Смотрю, есть ли одни и те же лошади несколько раз <p>
Больше 2 раз в больнице ни одна лошадь не была. 2 раза -> 16 лошадей

In [28]:
new_df = df.groupby('Hospital Number').count()
list(new_df[ new_df['surgery'] == 2].index) #список тех что были повторно

[527544.0,
 527916.0,
 528151.0,
 528469.0,
 528729.0,
 528890.0,
 528904.0,
 528931.0,
 528996.0,
 529424.0,
 529461.0,
 529796.0,
 530526.0,
 530693.0,
 532349.0,
 5279822.0]

## Rectal temperature
- normal temp is 37.8

In [29]:
df['rectal temperature'].describe()

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [62]:
df['rectal temperature'].mean()

38.16791666666666

У 75% лошадей температура повышена

## Pulse
- 30 - 40 is normal for adults

In [38]:
df['pulse'].mean()

71.91304347826087

In [32]:
Q = pd.DataFrame(df['pulse']).quantile([0.25, 0.75])
Q1 = float(Q.iloc[[0] [0]])
Q3 = float(Q.iloc[[1] [0]])
higher_outlier = Q1 + 1.5 * (Q3 - Q1)
higher_outlier

108.0

In [39]:
df['pulse'][ df['pulse'] < higher_outlier ].mean()

63.829875518672196

Частота сердцебиения повышена -> животные с болезненными поражениями или страдающие от шока кровообращения

## Temperature of extremities <p>
               - possible values: 
               - 1 = Normal 
               - 2 = Warm 
               - 3 = Cool 
               - 4 = Cold 
               - cool to cold extremities indicate possible shock

In [42]:
df['temperature of extremities'].mode()[0]

3.0

Чаще всего встречаются животные с прохладными конечностями, что означает, что у большинства лошадей возможен шок

## Peripheral pulse <p>
               - possible values are: 
               - 1 = normal<br>
               - 2 = increased<br>
               - 3 = reduced<br>
               - 4 = absent<p>
               - normal or increased p.p. are indicative of adequate circulation while reduced or absent indicate poor perfusion

In [44]:
df['peripheral pulse'].mode()[0]

1.0

Кровообращение у большинства животных в норме

## mucous membranes
          - a subjective measurement of colour
          - possible values are:
               1 = normal pink
               2 = bright pink
               3 = pale pink
               4 = pale cyanotic
               5 = bright red / injected
               6 = dark cyanotic
          - 1 and 2 probably indicate a normal or slightly increased
            circulation
          - 3 may occur in early shock
          - 4 and 6 are indicative of serious circulatory compromise
          - 5 is more indicative of a septicemia

In [87]:
df['mucous membranes'].mode()[0]

1.0

Слизистые оболочки у большинства лошадей в норме

## nasogastric reflux PH
    - linear
    - scale is from 0 to 14 with 7 being neutral
    - normal values are in the 3 to 4 range

In [57]:
df['nasogastric reflux PH'][ df['nasogastric reflux PH'].isna() == False ].describe()
# большинство информации отсутствует

count    53.000000
mean      4.707547
std       1.982311
min       1.000000
25%       3.000000
50%       5.000000
75%       6.500000
max       7.500000
Name: nasogastric reflux PH, dtype: float64

In [59]:
df['nasogastric reflux PH'].mean()

4.7075471698113205

Данная характеристика отсутствует у большинства лошадей <br>
Среднее значение отклонено от нормы, значит у некоторых лошадей наблюдается повышенная кислотность

## Pain
          - possible values:
               1 = alert, no pain
               2 = depressed
               3 = intermittent mild pain
               4 = intermittent severe pain
               5 = continuous severe pain
          - should NOT be treated as a ordered or discrete variable!
          - In general, the more painful, the more likely it is to require
            surgery
          - prior treatment of pain may mask the pain level to some extent

In [65]:
df['pain'].mode()[0]

3.0

In [85]:
df['pain'][ df['pain'] == 2.0 ].value_counts()

2.0    59
Name: pain, dtype: int64

In [86]:
df['pain'][ df['pain'] == 3.0 ].value_counts()

3.0    67
Name: pain, dtype: int64

Большое количество животных испытывают легкую прерывистую боль или находятся в депрессии (по мнению наблюдателей)