In [98]:
import pandas as pd
from scipy import stats
import numpy as np
import regex as re

In [2]:
df = pd.read_csv('vgsales.csv')

In [5]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Задание 1

### 1) Как критики относятся к спортивным играм?

H0 = средняя оценка спортивных игр среди критиков >= 75 <br>
Н1 = средняя оценка спортивных игр среди критиков < 75

alpha = 0.05

In [41]:
df_sports = df[df['Genre'] == 'Sports'][df['Critic_Score'].isna() == False]

<ipython-input-41-d1c9ec1dff6c>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_sports = df[df['Genre'] == 'Sports'][df['Critic_Score'].isna() == False]

In [48]:
t, p = stats.ttest_1samp(df_sports['Critic_Score'], 75)
p / 2

4.353818251173934e-14

<b> Вывод: </b> pvalue << alpha => отвергаем нулевую гипотезу => критики ставят спротивным играм невысокие оценки

### 2) Критикам нравятся больше игры на PC или на PS4?

H0 = средняя оценка критиков для игр на PC не отличается от средней оценки критиков для игр на PS4 <br>
H1 = средняя оценка критиков для игр на PC отличается от средней оценки критиков для игр на PS4 <br>

alpha = 0.05

In [74]:
df_PC = df[ df['Platform'] == 'PC' ][ df['Critic_Score'].isna() == False ]

<ipython-input-74-8d1e1804b258>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_PC = df[ df['Platform'] == 'PC' ][ df['Critic_Score'].isna() == False ]

In [75]:
df_PS4 = df[ df['Platform'] == 'PS4' ][ df['Critic_Score'].isna() == False ]

<ipython-input-75-30ea464db483>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_PS4 = df[ df['Platform'] == 'PS4' ][ df['Critic_Score'].isna() == False ]

In [76]:
t, p = stats.ttest_ind(df_PC['Critic_Score'], df_PS4['Critic_Score'], equal_var=False)
t, p

(4.3087588262138725, 2.067249157283479e-05)

<b> Вывод: </b> средняя оценка критиков для игр на PC отличается от средней оценки критиков для игр на PS4, и т.к. t > 0 критикам нравятся больше игры на PC

### 3) Критикам больше нравятся стрелялки или стратегии?

H0 = средняя оценка критиков для стрелялок не отличается от средней оценки критиков для стратегий <br>
H1 = средняя оценка критиков для стрелялок отличается от средней оценки критиков для стратегий

alpha = 0.05

In [86]:
df_shoot = df[ df['Genre'] == 'Shooter' ][ df['Critic_Score'].isna() == False ]
df_strat = df[ df['Genre'] == 'Strategy' ][ df['Critic_Score'].isna() == False ]

<ipython-input-86-e3dc1a4aeba5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_shoot = df[ df['Genre'] == 'Shooter' ][ df['Critic_Score'].isna() == False ]
<ipython-input-86-e3dc1a4aeba5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_strat = df[ df['Genre'] == 'Strategy' ][ df['Critic_Score'].isna() == False ]

In [88]:
t, p = stats.ttest_ind(df_shoot['Critic_Score'], df_strat['Critic_Score'], equal_var=False)
t, p

(-2.2972408230640315, 0.021938989522304823)

<b> Вывод: </b> можем отвергнуть нулевую гипотезу, т.к p < alpha; t < 0 => критикам больше нравятся стратегии

## Задание 2

In [200]:
df_spam0 = pd.read_csv('spam.csv')
df_spam0.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

1) Привидите весь текст к нижнему регистру;

In [201]:
df_spam = df_spam0.copy()
df_spam.Message = df_spam.Message.str.lower()
df_spam.head()

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

2) Удалите мусорные символы;

In [202]:
def del_symbols(param):
    return re.sub('[\W_]+',' ', param)

In [203]:
df_spam.Message = df_spam.Message.apply(del_symbols)
df_spam.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

3) Удалите стоп-слова;

In [204]:
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))

In [205]:
def del_sp(param):
    without_sp = [word for word in param.split() if word not in stopwords_set]
    return without_sp

In [206]:
df_spam.Message = df_spam.Message.apply(del_sp)
df_spam.head()

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham     [nah, think, goes, usf, lives, around, though]

4) Привидите все слова к нормальной форме;

In [207]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [208]:
def lemmatizer(param):
    lemmatizer = [wordnet_lemmatizer.lemmatize(word) for word in param]
    return lemmatizer

In [209]:
df_spam.Message = df_spam.Message.apply(lemmatizer)

5) Преобразуйте все сообщения в вектора TF-IDF.

In [210]:
def join_words(param):
    return ' '.join(param)
df_spam.Message = df_spam.Message.apply(join_words)

In [211]:
df_spam.head()

  Category                                            Message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though

In [212]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df_spam.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [213]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0